.container {
  width: 720px;
  margin: 0 auto;
}

button {
  width: 100%;
  cursor: pointer;
  border-radius: 2px;
  padding: 10px 20px;
  font-size: 18px;
}

.colums .add-new-contact-btn {
  background-color: #7fbf4d;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #7fbf4d),
    color-stop(100%, #63a62f)
  );
  background-image: -webkit-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: -moz-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: -ms-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: -o-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: linear-gradient(top, #7fbf4d, #63a62f);
  border: 1px solid #63a62f;
  border-bottom: 1px solid #5b992b;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 0 0 #96ca6d;
  box-shadow: inset 0 1px 0 0 #96ca6d;
  color: #fff;
  text-align: center;
  text-shadow: 0 -1px 0 #4c9021;
  text-transform: uppercase;
  font-weight: bold;
}
